header {
  background-color: rgb(250, 246, 246);
}

.logo {
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

li a {
  border-radius: 10px;
  margin: 20px;
}

#kids {
  border-radius: 10px;
}

section {
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: rgb(255, 255, 255);
}

input,
textarea {
  margin-bottom: 1rem;
}

.cursos {
  background-color: rgb(250, 246, 246);
}

.card {
  width: 32%;
  float: left;
  margin: 5px;
}
