header {
  background-color: rgb(250, 246, 246);
}

.logo {
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

li a {
  border-radius: 10px;
  margin: 20px;
}

#navegacao li a {
  color: black;
}

#kids {
  border-radius: 10px;
}

#cadastro {
  width: fit-content;
  margin-left: 20px;
  margin-bottom: 20px;
}

#inscricao {
  margin-left: 10px;
  text-decoration: none;
  color: gray;
}

#inscricao:hover {
  color: rgb(224, 167, 10);
}

#agendar a {
  text-decoration: none;
  color: white;
}

#carousel {
  width: 65%;
  margin: auto;
  padding: 15px;
}

#promocionais {
  margin-left: -13px;
}

#formulario {
  text-align: center;
}

.cursos {
  background-color: rgb(250, 246, 246);
}

.card {
  width: 32%;
  float: left;
  margin: 5px;
}

.cadastrando {
  align-items: left;
}

section {
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: rgb(255, 255, 255);
}

input,
textarea {
  margin-bottom: 1rem;
}
